@model List<OrderListViewModel>

<div class="container-fluid pt-4 px-4">

<div class="col-sm-12 col-xl-6 tblOrder">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">لیست سفارش ها</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">شماره سفارش</th>
                    <th scope="col">تاریخ سفارش</th>
                    <th scope="col">نام مشتری</th>
                    <th scope="col">نام محصول</th>
                    <th scope="col">ارسال محصول</th>
                    <th scope="col"> جزییات محصول</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                <tr>
                    <th scope="row">@item.PaymentOrder.PaymentCode</th>
                    <td>@item.PaymentOrder.PaymentDate</td>
                    <td>@item.FullName</td>
                    <td>@item.PaymentOrder.Shipped</td>
                    @foreach (var obj in item.OrdersInfo)
                            {
                                

                                <td>@obj.Product.Description</td>
                            <td>
                                    <a class="btn btn-info" asp-action="OrderDetails" asp-controller="Order" asp-route-Id="@obj.Id">
                                        جزییات</a>
                            </td>
                            }
                </tr>
                }
             
            </tbody>
        </table>
    </div>
</div>

</div>

