@model PagedData<Product>
<div class="container-fluid pt-4 px-4">

	<h6 class="mb-4">لیست محصول ها</h6>
	<a class="btn btn-success shadow btnAddProduct" asp-action="Add" asp-controller="ProductDashboard">
		افزودن محصول
	</a>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">نام محصول</th>
				<th scope="col">کد </th>
				<th scope="col">نام دسته بندی</th>
				<th scope="col">قیمت</th>
				<th scope="col">توضیحات</th>
				<th scope="col" colspan="4">عملیات</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Data)
			{
				<tr>

					<td>
						<img class="rounded-circle flex-shrink-0" src="@item.Imagee.Img"
						 alt="@item.Name" style="width: 50px; height: 50px;" />

					</td>
					<td>@item.Name</td>
					<td>@item.CategoryId</td>
					<td>@item.Category.Name</td>
					<td>@item.Price</td>
					<td>@item.Description</td>
					<td colspan="4">
						<a href="#" class="btn btn-infp ">ویرایش</a>
						<a href="#" class="btn btn-danger ">حذف</a>
					</td>
				</tr>

			}



		</tbody>
	</table>
</div>
